streamlit
chromadb
python-dotenv
openai
transformers
torch
torchaudio
soundfile
numpy
pydub
speechbrain
deepface
opencv-python
edge-tts
azure-cognitiveservices-speech
openwakeword
pyaudio
pvporcupine
openai-whisper